
.square-container{
display: flex;
width: 85%;
justify-content: center;

margin: auto;
height:120px;
margin-top: 40px;
}


.square-items{

width: 17%;
border: 2px solid black;


}

.square-items:hover{

border-bottom: 4px solid red;


}